<mat-tab-group mat-align-tabs="start" class="space-components">
    <mat-tab label="Brazil">
      <div fxLayout="row wrap" fxLayoutAlign="start center" class="content-space">
        <ng-container *ngFor='let travel of travelList' class="card-content">
          
          <mat-card class="mat-card-travel">

            <mat-card-title class="mat-card-title-travel">
              <div class="row">
                <p>
                  <span>{{travel.description}}</span>
                  <span></span>
                  <span>{{travel.date}}</span>
                </p>
              </div>


            </mat-card-title>
            <mat-card-content>
             <div>
              <img  mat-card-image src="https://cdn.webshopapp.com/shops/94414/files/52123490/flag-of-brazil.jpg" alt="Photo of a flag" class="img-style">
             </div>
              <p>
                Travels to Brazil
              </p>
            </mat-card-content>
          </mat-card>
        </ng-container>
      </div>
    </mat-tab>



    <mat-tab label="Belgium">
      <div fxLayout="row" fxLayoutAlign="start center" >
        Travels to Belgium
        https://upload.wikimedia.org/wikipedia/commons/6/65/Flag_of_Belgium.svg
      </div>
      </mat-tab>
    <mat-tab label="Portugal">
      <div fxLayout="row" fxLayoutAlign="start center" >
        Travels to Portugal
        https://upload.wikimedia.org/wikipedia/commons/thumb/5/5c/Flag_of_Portugal.svg/1200px-Flag_of_Portugal.svg.png
      </div>
      </mat-tab>
    <mat-tab label="Spain">
      <div fxLayout="row" fxLayoutAlign="start center" >
        Travels to Spain
        https://upload.wikimedia.org/wikipedia/en/9/9a/Flag_of_Spain.svg
      </div>
      </mat-tab>
  </mat-tab-group>
